body {
    margin: 0;
}

.section1 {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 150px 120px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
}

.text {
    font-size: 70px;
    margin: 0;
}

.para1 {
    margin: 10px 150px 50px 150px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.section2 {
    font-family: 'Gentium Book Plus', serif;
    text-align: center;
}

.decoration {

    font-size: 35px;
    margin-bottom: 10px;
}

.para2 {
    color: gray;
    font-weight: 600;
    margin: 0px 300px 20px 300px;
}

.select {
    display: flex;
    text-align: center;
    margin-left: 335px;
    margin-right: 313px;
    color: gray;
    font-weight: 800;
    font-size: xx-large;

}

.contain {

    padding: 30px;

}

.concept {

    border: 2px solid rgb(245, 109, 84);
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(253, 205, 197);

}

.container{
    text-align: center;
    border: none;
    padding: 10px 150px;
    border-bottom: 1px solid gray;
}

.button2 {
    background-image: linear-gradient(tomato, tomato);
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px 25px;
    color: white;
    font-size: large;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

.section3 {
    display: flex;
    margin: 60px 90px 50px 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.selection {

    margin: 20px;
    padding: 20px;
    background-color: rgb(247, 207, 199);
    width: 100%;
}

.child-p {
    color: gray;
    font-weight: 300;
    text-align: justify;
}

.type1 {
    background-color: #ebf2f3;
}

.type2 {
    background-color: #fdece8;
}

.type3 {
    background-color: #fff4d6;
}

.right {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    padding: 50px;
    background-color: rgb(233, 231, 231);
}

.right img {
    width: 100%;
}


.child {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;

}

.option {
    padding-top: 25px;
}

.child p {
    color: rgb(116, 113, 113);
    margin-bottom: 30px;
    text-align: justify;
}

.child h1 {
    font-family: 'Poppins', sans-serif;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    margin-top: 10px;
    padding: 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.email-type {
    text-align: center;
    background-color: #fff4d6;
    margin: 40px 240px;
    border-radius: 10px;
    padding: 40px 250px;
}

.email {
    padding: 10px 20px;
    background-color: rgb(221, 217, 217);
    border: none;


}

.submit-button {
    padding: 10px 15px;
    background-color: tomato;
    border: none;
    color: white;
}

footer {
    background-image: url(images/footer.png);
    background-size: 100%;
    text-align: center;
    padding: 30px;
    margin-top: 70px;
    background-color: black;

}

footer h3 {
    color: tomato;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

footer small {
    color: white;
    font-family: 'Arima', cursive;
}